# Системные файлы
.*
!/.gitignore

# Qt Creator
*.pro.user
*.pro.user.*

# Объектные файлы и исполняемые файлы
build/
*.o
*.obj
*.exe
*.dll

# Другие временные файлы
*.log
*.bak
*.swp

# Кэши и временные данные
.cache/
.temp/

# IDE-специфические файлы
.idea/
.vscode/

# Файлы Qt Designer
*.ui

# Файлы переводов
*.ts
*.qm

# Файлы ресурсов
qrc_*.cpp

# Файлы автогенерации
moc_*.cpp
ui_*.h
