# Системные файлы
.*
!/.gitignore

# Qt Creator
*.pro.user
*.pro.user.*

# Объектные файлы и исполняемые файлы
build/
*.o
*.obj
*.exe
*.dll

# Другие временные файлы
*.log
*.bak
*.swp

# Кэши и временные данные
.cache/
.temp/

# Файлы ресурсов
qrc_*.cpp
